$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "transitions";


//$background-color: #e66b6b;
//$text-color: #fff;

.browsehappy {

  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

}

body {
  padding: 0;
  font-family: 'Tahoma', 'Arial', sans-serif;
  //@include gradient-vertical-three-colors(#00b3ee, #022136);
  background-color: #072137;


}

body.ng-scope{
  background-color: #072137;
}

dt, dd {
  font-size: 1.5em;
}



.navbar {
  margin: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: $jumbotron-color;
  //@include gradient-vertical-three-colors(#00b3ee, #022136);

  /*.btn {
    font-size: 21px;
    padding: 14px 24px;

  }*/
}
/*.jumbotron .btn {
    background: #abf0ff;
    color: #000;
    border: 2px solid #333;
    border-radius: .25em;
    font-size: 18px;
    padding: 8px 8px;
    display: inline-block;
}
*/





/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.jumbotron {
  background-color: #072137;
  color: $text-color;
}

.jumbotron p input{
  color: black;
}

/**** current view ****/
.current-container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
}

.calendar-container {
  position: relative;
  width: 450px;
}

/*.calendar-container .city-info {
  border-radius: 1em 1em 0 0;
  @include gradient-vertical-three-colors(#00b3ee, #022136);
  color: #fff;
  padding: 3em 2em;
}
*/
.current-dl {
  height: 25px;
}

.city {
  font-size: 4em;
  line-height: 1em;
}

.date {
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
}
.day {
  font-size: 13vh;
  font-weight: 900;
  line-height: 1em;
}

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.icon {
  float:right;
  clear: both;
  margin-top: -130px;
  font-size: 6em;
}

.forecast-icon {
  font-size: 4em;
    image-rendering: crisp-edges;
//  padding: 15px;
}
img {
  //ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
    //  image-rendering: -moz-crisp-edges;
      //image-rendering: pixelated;
        image-rendering: crisp-edges;
      z-index: 1;

  //opacity: 0;
  //overflow: hidden;
  -webkit-filter: contrast(1.25);
  filter: contrast(3.25);
  //mix-blend-mode: hard-light;
}

.current-description {
  border: 1px solid $body-bg;
  padding: 15px 30px;
  padding-bottom: 200px;
  margin-bottom: 20px;
}

/**** Forecast ****/
.description-dl {
  display: inline-block;
  vertical-align: top;
  margin: .75em;
  height: 100px;
}

.forecast-container .forecast-info {
  border-radius: 1em 1em 0 0;
  @include gradient-vertical-three-colors(#00b3ee, #022136);
  color: #fff;
  padding: 3em 2em;

}

/*.forecast-dt{
  font-weight:bold;
  font-size:1.5em;
  margin-bottom:0.7em;
}
.forecast-dd{
  color:#444;
  font-size:1em;
  margin:0 0 2em 0;
  line-height:1.5em;
  text-transform: lowercase;
}*/

.max {
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
}

.min {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

.forecast-description {
  font-size: 1.5em;
  line-height: .25em;
}
/*.weather-report {
  border-radius: 1em;
  background: #e66b6b;
  color: #fff;
  padding: 3em 2em;
  width: 100%;
}*/

.forecast-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.forecast-container .city-info {
  color: #fff;
  padding: 3em 2em;
}

/*.arrow {
  left: 2%;
  position: relative;
  transform: translate(0px, 250px)
}
*/
dl.weather-report.description-dl.ng-scope {
  //width: 100px;
  //height: 440px;
  //width: 25vh;
  //height: 61vh;
  border-radius: 1em 1em 0 0;
  background-image: linear-gradient(#00b3ee, #022136 50%, #ff0000);
  //@include gradient-vertical-three-colors(#00b3ee, #022136);//#ff0000
  text-align: center;
  padding: 0em;
}

.saved-cities-list {
  margin-bottom: 1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color: #072137;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fff;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
}


.bg-warning {
    background-color: #6eeffd;
  }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  dl.weather-report.description-dl.ng-scope {
  height: 50vh;
  width :22vh
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 591px) {
  dl.weather-report.description-dl.ng-scope {
  height: 50vh;
  width: 20vh;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 592px) and (max-width : 768px) {

  dl.weather-report.description-dl.ng-scope {
  height: 50vh;
  width: 20vh;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  dl.weather-report.description-dl.ng-scope {
  height: 50vh;
  width: 20vh;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  dl.weather-report.description-dl.ng-scope {
  height: 47vh;
  width: 20vh;
  }
}
