// Styles for animated transitions of HTML elements
div[ng-view].ng-enter {
    -webkit-animation: fadeInDown 3.5s;
    animation: fadeInDown 3.5s;
}
/*div[ng-view].ng-leave {
    -webkit-animation: tada 0.5s;
    animation: tada 0.5s;
}*/
