<div class="jumbotron">
  <h1>{{forecastData.city.name}}, {{forecastData.city.country}}</h1>
  <h1>5-day Forecast</h1>
  <dl ng-repeat="weather in forecastData.list | limitTo:5:0" class="weather-report description-dl">
    <div class="forecast-info">
      <div class="date">{{weather.dt*1000 | date: 'EEE'}}</div>
      <div class="day">{{weather.dt*1000 | date:'dd'}}</div>
      <div class="month">{{weather.dt*1000 | date:'MMM'}}</div>
      <div class="forecast-icon"><img ng-src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="icon" style="width:80px;height:80px;"></div>
      <!--<div class="forecast-icon"><i class="wi wi-owm-day-{{weather.weather[0].id}}"></i></div>-->
      <div class="max">{{weather.temp.max}} &deg;F</div>
      <div class="min">{{weather.temp.min}} &deg;F</div>
      <!--<div class="forecast-description">{{weather.weather[0].main}}</div>-->
      <div class="forecast-description">{{weather.weather[0].description}}</div>
    </div>
  </dl>
  <p><a ng-href="#!/forecast/{{cityID}}" class="btn btn-lg btn-primary">View 15-day Forecast</a></p>
  <p><a ng-href="#!/" class="btn btn-lg btn-primary">Select New City</a>
</div>
